:root {
    --headerGaps: 30px;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #faf6f0;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2*var(--headerGaps);
    background-color: #faebd7;
}

.logo {
    font-weight: bold;
    padding-left: var(--headerGaps);
    cursor: default;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer * {
    margin-right: var(--headerGaps);
    cursor: pointer;
}

footer {
    background-color: #faebd7;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}